/** Ionic CSS Variables **/
:root {
    /** background **/
    --color-background-primary: #fff;
    --color-background-secondary: #f0f0f5;
    --color-background-tertiary: #fff;
    --color-background-quaternary: #f7f7fc;

    /** label **/
    --color-label-primary: #25252e;
    --color-label-secondary: rgba(46, 46, 66, 0.6);
    --color-label-tertiary: rgba(26, 26, 66, 0.3);
    --color-label-quaternary: rgba(13, 13, 66, 0.18);
    --color-label-emphasized: #fff;

    /** fill colors **/
    --color-fill-primary: rgba(97, 97, 128, 0.2);
    --color-fill-secondary: rgba(77, 77, 128, 0.16);
    --color-fill-tertiary: rgba(116, 116, 179, 0.12);
    --color-fill-tertiary-hover: rgba(116, 116, 178, 0.16);
    --color-fill-tertiary-active: rgba(116, 116, 178, 0.2);
    --color-fill-quaternary: rgba(108, 108, 166, 0.06);
    --color-fill-emphasized: #fff;

    /** border colors **/
    --color-border-with-transparency: rgba(20, 20, 66, 0.12);
    --color-border-no-transparency: #e1e1e8;

    /** Greys **/
    --color-grey-1: #8e8e99;
    --color-grey-2: #ababb8;
    --color-grey-3: #bebecc;
    --color-grey-4: #cecedb;
    --color-grey-5: #e6e6ed;
    --color-grey-6: #f2f2f7;

    /** Tints **/
    --color-tints-red: #ff4238;
    --color-tints-peach: #ff672b;
    --color-tints-orange: #ff9412;
    --color-tints-yellow: #ffbf00;
    --color-tints-green: #2ec763;
    --color-tints-mint: #00c7b0;
    --color-tints-teal: #2abbd1;
    --color-tints-cyan: #2aaeeb;
    --color-tints-blue: #0f7fff;
    --color-tints-indigo: #6b6be3;
    --color-tints-purple: #b85ee6;
    --color-tints-pink: #f255be;
    --color-tints-rose: #ff3068;

    /** Red accents **/
    --color-red-accent-darker-16: #d6322f;
    --color-red-accent-darker-8: #eb3a34;
    --color-red-accent-lighter-60: rgba(255, 59, 56, 0.4);
    --color-red-accent-lighter-90: rgba(255, 56, 69, 0.1);

    /** Orange accents **/
    --color-orange-accent-darker-16: #d6750f;
    --color-orange-accent-darker-8: #eb8511;
    --color-orange-accent-lighter-60: rgba(255, 148, 18, 0.4);
    --color-orange-accent-lighter-90: rgba(255, 125, 18, 0.1);

    /** Green accents **/
    --color-green-accent-darker-16: #27a74f;
    --color-green-accent-darker-8: #2ab759;
    --color-green-accent-lighter-60: rgba(46, 199, 94, 0.4);
    --color-green-accent-lighter-90: rgba(46, 199, 77, 0.1);

    /** Blue accents **/
    --color-blue-accent-darker-16: #0d64d6;
    --color-blue-accent-darker-8: #0e71eb;
    --color-blue-accent-lighter-60: rgba(15, 127, 255, 0.4);
    --color-blue-accent-lighter-90: rgba(15, 103, 255, 0.14);

    /** Overlays **/
    --color-overlay-darkener: rgba(16, 26, 66, 0.2);
}

/*
     * Dark Colors
     * -------------------------------------------
     */

body.dark {
    /** background **/
    --color-background-primary: #1f1f22;
    --color-background-secondary: #101012;
    --color-background-tertiary: #2b2b2e;
    --color-background-quaternary: #333336;

    /** label **/
    --color-label-primary: #fff;
    --color-label-secondary: rgba(195, 196, 204, 0.6);
    --color-label-tertiary: rgba(203, 207, 226, 0.4);
    --color-label-quaternary: rgba(112, 114, 125, 0.3);
    --color-label-emphasized: #fff;

    /** fill colors **/
    --color-fill-primary: rgba(115, 115, 123, 0.5);
    --color-fill-secondary: rgba(116, 116, 123, 0.32);
    --color-fill-tertiary: rgba(100, 100, 106, 0.24);
    --color-fill-tertiary-hover: rgba(106, 106, 106, 0.16);
    --color-fill-tertiary-active: rgba(106, 106, 106, 0.08);
    --color-fill-quaternary: rgba(91, 91, 91, 0.18);
    --color-fill-emphasized: #fff;

    /** border colors **/
    --color-border-with-transparency: rgba(157, 157, 157, 0.12);
    --color-border-no-transparency: #38383d;

    /** Greys **/
    --color-grey-1: #8e8e99;
    --color-grey-2: #6d6d75;
    --color-grey-3: #47474d;
    --color-grey-4: #38383d;
    --color-grey-5: #2f2f33;
    --color-grey-6: #202024;

    /** Tints **/
    --color-tints-red: #ff4c42;
    --color-tints-peach: #ff7236;
    --color-tints-orange: #ffa01c;
    --color-tints-yellow: #ffcb0f;
    --color-tints-green: #2fd468;
    --color-tints-mint: #06d1b9;
    --color-tints-teal: #23c5de;
    --color-tints-cyan: #29b8ff;
    --color-tints-blue: #1f87ff;
    --color-tints-indigo: #7171f5;
    --color-tints-purple: #c362f5;
    --color-tints-pink: #ff57c7;
    --color-tints-rose: #ff3877;

    /** Red accents **/
    --color-red-accent-darker-16: #d63a37;
    --color-red-accent-darker-8: #eb433d;
    --color-red-accent-lighter-60: rgba(255, 69, 66, 0.6);
    --color-red-accent-lighter-90: rgba(255, 66, 79, 0.2);

    /** Orange accents **/
    --color-orange-accent-darker-16: #d67a17;
    --color-orange-accent-darker-8: #eb8511;
    --color-orange-accent-lighter-60: rgba(255, 153, 28, 0.6);
    --color-orange-accent-lighter-90: rgba(255, 130, 28, 0.2);

    /** Green accents **/
    --color-green-accent-darker-16: #27b253;
    --color-green-accent-darker-8: #2bc35e;
    --color-green-accent-lighter-60: rgba(47, 212, 99, 0.6);
    --color-green-accent-lighter-90: rgba(47, 212, 80, 0.2);

    /** Blue accents **/
    --color-blue-accent-darker-16: #1a71d6;
    --color-blue-accent-darker-8: #1d7ceb;
    --color-blue-accent-lighter-60: rgba(31, 135, 255, 0.6);
    --color-blue-accent-lighter-90: rgba(31, 113, 255, 0.2);

    /** Overlays **/
    --color-overlay-darkener: rgba(16, 26, 66, 0.2);
}

/*
     * iOS Dark Theme
     * -------------------------------------------
     */

.ios body.dark {
    --ion-background-color: #000000;
}

.ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
}

/*
     * Material Design Dark Theme
     * -------------------------------------------
     */

.md body {
    --ion-background-color: #121212;
}

/*  */

.ion-content {
    --padding-start: 16px;
    --padding-end: 16px;
}
